@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, a, div {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 72px;
}

h2 {
    text-transform: uppercase;
    font-size: 64px;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2em;
}

h5 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-size: 14px;
}



:root {
    --raspberry : #ef0d33;
    --space-coal : #111517;
    --deep-mist : #888888;
    --penicilin : #fff;
}

/* ========================= Animations ========================= */

@keyframes left {
    from {
        position: relative;
        left: -160px;
        opacity: 0;
        z-index: -10;
    }

    to {
        position: relative;
        left: 0;
        opacity: 1;
        z-index: -10;
    }
}

@keyframes right {
    from {
        position: relative;
        right: -160px;
        opacity: 0;
        z-index: -10;
    }
    
    to {
        position: relative;
        right: 0;
        opacity: 1;
        z-index: -10;
    }
}

/* ========================= Dark theme ========================= */

.dark, 
.theme .dark {
    display: none;
}

.darkmode,
.darkmode header {
    color: var(--penicilin);
    background-color: var(--space-coal);
}

.darkmode .dark {
    display: block;
}

.darkmode .light {
    display: none;
}

.darkmode a {
    color:var(--penicilin);
}

/* ========================= Header ========================= */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--penicilin);
    
}

.logo{
    height: 48px;
    padding: 8px;
}

.web-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav a {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--space-coal);
}

nav a:hover {
    color: var(--raspberry);
    font-weight: bold;
}

.theme {
    padding: 8px;
    border-radius: 25px;
}

.theme h1 {
    font-size: 32px;
}

.theme:hover {
    cursor: pointer;
    background-color: var(--raspberry);
}

.mobile-nav {
    background-color: var(--raspberry);
    font-size: 24px;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
}

.mobile-nav a {
    color: var(--penicilin);
    
}



/* ========================= Home ========================= */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 160px;
    padding: 48px 0;
}



.primary {
    width: 100%;
    margin: 0 16px;
    animation-name: left;
    animation-duration: 3s;
}


.secondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    animation-name: right;
    animation-duration: 3s;
}

.secondary p {
    padding-top: 12px;
}

span {
    color: var(--raspberry);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    display: flex;
    justify-content: center;
}


/* ========================= About ========================= */

.about {
    padding: 64px 0;
}

.about .image img {
    max-width: 320px;
}

.about .primary {
    order: 1;
}

.about .secondary {
    order: 0;
}

/* ========================= Educations ========================= */

.educations {
    display: flex;
    flex-direction: column;
}


.education {
    display: flex;
    justify-content: space-between;
}

.secondary h3 {
    padding: 16px 0;
    margin-top: 64px;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 12px 0;
}

.part p {
    font-size: 16px;
}

/* ========================= Work Experiences ========================= */

.works {
    display: flex;
    flex-direction: column;
}

.works .secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    margin-top: 160px;
}

.works .secondary .part {
    width: fit-content;
}

/* ========================= Contact Form ========================= */


input {
    margin: 8px 0;
    line-height: 32px;
    color: var(--space-coal);
    font-family: Montserrat;
    font-weight: 500;
    border-radius: 24px;
    padding: 8px 16px;
}

textarea {
    margin: 8px 0;
    height: 80px;
    color: var(--space-coal);
    font-family: Montserrat;
    font-weight: 500;
    text-align: start;
    border-radius: 16px;
    padding: 8px 16px;
}


.contact-submit {
    height: 48px;
    font-family: Montserrat;
    font-weight: 700;
    background-color: var(--raspberry);
    color: var(--penicilin);   
}

.contact-submit:hover {
    background-color: var(--deep-mist);
    color: var(--space-coal);
    cursor: pointer;
}


/* ========================= Footer ========================= */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--raspberry);
    padding: 24px 24px;
    margin-top: 80px;
}


.copyright {
    display: flex;
    align-items: center;
    color: var(--penicilin);
}

.copyright p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
}


.social-media {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.social-media img {
    padding: 0 8px;
    height: 28px;

}

.social-media a {
    font-size: 28px;
    color: var(--penicilin);
    padding: 0 8px;
}

.social-media a:hover {
    color: var(--space-coal);
}
